.header {
    background-color: #303030;
    width: 100%;
    height: 4em;
    margin-bottom: 15px;
    background-image: linear-gradient(to right, #000000, #898989);
}

.header a {
    display: flex;
    text-align: center;
    text-decoration : none;
    background-image: linear-gradient(to top, #414141, #ccc);
    border-right: 1px solid#ccc;
    border-left: 1px solid #ccc;
    height: 100%;
    margin: 0;
}

.header a .border {
    background-image: linear-gradient(to top, #414141, #ccc);
    width: 1px;
}

.header a:hover .border {
    background-image: linear-gradient(to bottom, #414141, #ccc);
    width: 1px;
}

.header a p {
    color: #ffffff;
    margin: auto 10px;
}

.header a:hover {
    background-image: linear-gradient(to bottom, #414141, #ccc);
    text-decoration: none;
}

.header a:hover p {
    color: #dbdbdb;
}

.header a:visited {
    text-decoration : none;
}

.header .rightButtonsDiv {
    display: flex;
    height: 100%;
    margin-right: 5px;
    float: right;
}

.header .leftButtonsDiv {
    display: flex;
    height: 100%;
    margin-left: 5px;
    float: left;
}