h2 {
  text-align: center;
}

.success {
  background-color: #ddffdd;
}

.warning {
  background-color: #ffdddd;
}

.center {
  text-align: center;
}

.submit {
  display: inline-block;
  width: 60%;
  height: 4em;
  margin-right: 0.5em;
  box-sizing: border-box;
}

cancel {
  display: inline-block;
  width: 40%;
  height: 4em;
  box-sizing: border-box;
}
