<section class="tableRow">
  <ng-container *ngIf="column.search && column.label != undefined">
    <span class="tdLeft" style="width: 100%;">
      <md-input-container style="width: 100%;">
        <input #search mdInput [placeholder]="column.label" (change)="columnSearch(search.value)">
      </md-input-container>
    </span>
  </ng-container>
  <ng-container *ngIf="! column.search && column.label != undefined">
    <span class="td" (click)="switchSortOrder()">
      <label>{{column.label}}</label>
    </span>
  </ng-container>
  <ng-container *ngIf="column.label == undefined">
    <span class="td">
      <label>{{column}}</label>
    </span>
  </ng-container>
  <span *ngIf="column.sort" [class.tdRight]="column.search" [class.td]="! column.search" (click)="switchSortOrder()">
    <ng-container *ngIf="searchState == SearchState.UNDEFINED">
      <md-icon class="undefined">arrow_drop_up</md-icon>
      <md-icon class="undefined">arrow_drop_down</md-icon>
    </ng-container>
    <md-icon *ngIf="searchState == SearchState.ASC">arrow_drop_up</md-icon>
    <md-icon *ngIf="searchState == SearchState.DESC">arrow_drop_down</md-icon>
  </span>
<section>
