<md-card class="navList">
  <md-card-title class="title">{{title}}</md-card-title>
  <md-card-content>
    <ng-content></ng-content>
    <md-spinner *ngIf="!selectables && !error" class="spinner" mode="indeterminate"></md-spinner>
    <p *ngIf="error" class="errors">{{error}}</p>
    <p *ngIf="emptyMessage && selectables && selectables.length <= 0">{{emptyMessage}}</p>
    <md-nav-list *ngIf="selectables" dense>
      <ng-container *ngFor="let selectable of selectables">
        <md-list-item *ngIf="isSelected(selectable)" class="selected no-padding">
          <span md-line [style.color]="getTextColor(selectable.selectedTextColor)">{{selectable.text}}</span>
        </md-list-item>
        <md-list-item *ngIf="! isSelected(selectable)" (click)="select(selectable)" class="no-padding">
          <span md-line [style.color]="getTextColor(selectable.textColor)">{{selectable.text}}</span>
        </md-list-item>
      </ng-container>
    </md-nav-list>
  </md-card-content>
</md-card>
