<!--<section *ngIf="file">
  <td>
    <span mdTooltip="{{file.version?.filename}}" mdTooltipPosition="above" mdTooltipHideDelay="0">{{file.version?.filename | truncate:30}}</span>
  </td>
  <td>{{file.author?.firstname}} {{file.author?.name}}</td>
  <td>{{file.version?.num}}</td>
  <td>{{file.version?.date_upload?.day | numberLen:2}}/{{file.version?.date_upload?.month | numberLen:2}}/{{file.version?.date_upload?.year
    | numberLen:4}}</td>
  <td>{{file.version?.status}}</td>-->
  <!--<td>
    <span *ngIf="file.version && file.version.status == 0"><a md-raised-button color="primary" mdTooltip="Télécharger" mdTooltipPosition="above" target="_self" [href]="downloadLink(file.version.id)" download><md-icon>file_download</md-icon></a></span>
    <span *ngIf="file.author && file.author.id == userId"><a md-raised-button color="accent" mdTooltip="Nouvelle version" mdTooltipPosition="above" [routerLink]="['/add_file', project.id, file.id]" download><md-icon>file_upload</md-icon></a></span>
  </td>-->
<!--</section>-->

<td>nom de mon fichier</td>
<td>auteur fichier</td>
<td>1</td>
<td>0</td>
<td>15/06/2017</td>
<td>bouton à cliker</td>