<!--
  Auteur : Florian
  License :
  
  Section qui gère les informations relatives aux fichiers des projets
-->

<!-- Bouton retour -->
<button *ngIf="canNavBack && (stateToActivate() != State.Filelist || route != '/home')"
    md-raised-button class="navBackButton" type="button" color="primary"
    mdTooltip="Retour" mdTooltipPosition="above" (click)="navback()">
  <md-icon>arrow_back</md-icon>&nbsp;Retour
</button>

<!-- Liste des fichiers d'un projet -->
<app-filelist *ngIf="stateToActivate() == State.Filelist"
    [project]="project" [startLoading]="readyForContent"
    (addFile)="setStateAndFile(State.AddFile, $event)"
    (versionDetails)="setStateAndFile(State.VersionDetails, $event)"
    (checkVersion)="setStateAndCheck(State.CheckVersion, $event)">
</app-filelist>

<!-- Ajout d'un fichier / nouvelle version -->
<app-add-file *ngIf="stateToActivate() == State.AddFile"
    [data]="{project: project, file: file}" (close)="state = State.Filelist">
</app-add-file>

<!-- Details de version d'un fichier -->
<app-version-details *ngIf="stateToActivate() == State.VersionDetails"
    [file]="file" (close)="state = State.Filelist">
</app-version-details>

<!-- Contrôle / Validation d'une version d'un fichier -->
<app-check-version *ngIf="stateToActivate() == State.CheckVersion"
    [check]="check" (close)="state = State.Filelist">
</app-check-version>