/*.header {
    /*background: rgba(252,234,187,1);
	background: -moz-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(215,128,43,1) 54%, rgba(252,205,77,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(54%, rgba(215,128,43,1)), color-stop(100%, rgba(252,205,77,1)));
	background: -webkit-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(215,128,43,1) 54%, rgba(252,205,77,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(215,128,43,1) 54%, rgba(252,205,77,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(215,128,43,1) 54%, rgba(252,205,77,1) 100%);
	background: linear-gradient(135deg, rgba(252,234,187,1) 0%, rgba(215,128,43,1) 54%, rgba(252,205,77,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fccd4d', GradientType=1 );
    /*background-image: linear-gradient(to right, #000000, #898989);
}*/

md-tooltip {
  display: none;
}

md-toolbar .flex {
  flex: 1 1 auto;
}

md-toolbar a, a:visited {
  text-align: center;
  text-decoration : none;
  opacity: 0.8;
}

md-toolbar a:hover {
  text-align: center;
  text-decoration : none;
  opacity: 1.0;
}

md-toolbar md-icon {
  color: #cccccc;
}

md-toolbar a .label {
  color: #ffffff;
  font-size: 0.7em;
  padding-left: 0.3em;
}

md-toolbar .right {
  margin-left: 0.5em;
}

@media screen and (max-width: 600px) {
  md-toolbar a .label {
    display: none;
  }
}
