md-tooltip {
  display: none;
}

md-toolbar .flex {
  flex: 1 1 auto;
}

md-toolbar md-icon.list {
  display: none;
  font-size:48px;
  height:48px;
  width: 48px;
  margin-right: 10px;
  color: #d0d0df;
}

md-toolbar a,
md-toolbar a:visited,
md-toolbar md-icon.list {
  text-align: center;
  text-decoration : none;
  opacity: 0.8;
}

md-toolbar a:hover,
md-toolbar md-icon.list:hover {
  text-align: center;
  text-decoration : none;
  opacity: 1.0;
  cursor: pointer;
}

md-toolbar md-icon {
  color: #cccccc;
}

md-toolbar a .label {
  color: #ffffff;
  font-size: 0.7em;
  padding-left: 0.3em;
}

md-toolbar .right {
  margin-left: 0.5em;
}

@media screen and (max-width: 600px) {
  md-toolbar a .label {
    display: none;
  }
}

md-toolbar span.userLogin {
  color: #ffd740;
}
