.header {
    background-image: linear-gradient(to right, #000000, #898989);
}

.header .flex {
  flex: 1 1 auto;
}

.header a {
    display: flex;
    text-align: center;
    text-decoration : none;
    background-image: linear-gradient(to top, #414141, #ccc);
    border-right: 1px solid#ccc;
    border-left: 1px solid #ccc;
    height: 100%;
    margin: 0 auto;
}

.header a .border {
    background-image: linear-gradient(to top, #414141, #ccc);
    width: 1px;
}

.header a:hover .border {
    background-image: linear-gradient(to bottom, #414141, #ccc);
    width: 1px;
}

.header a .label {
    color: #ffffff;
    margin: auto 0.5em;
    font-size: 0.8em;
}

.header a:hover {
    background-image: linear-gradient(to bottom, #414141, #ccc);
    text-decoration: none;
}

.header a:hover .label {
    color: #dbdbdb;
}

.header a:visited {
    text-decoration : none;
}

.header .rightButtonsDiv {
    display: flex;
    height: 100%;
}

.header .leftButtonsDiv {
    display: flex;
    height: 100%;
    float: left;
}