<!--
  Auteur : Florian
  License : 

  Template pour afficher les détails de version d'un fichier
-->

<md-card class="details">
  <!-- Titre : nom du fichier -->
  <md-card-title>Fichier : {{file?.version?.filename}}</md-card-title>
  
  <md-card-content>
    <md-card class="fileSummary">
      <md-card-content>
        <md-list dense>
          <h1 md-subheader>Sommaire</h1>
          
          <!-- Infos sur le fichier -->
          <md-list-item>
            <span class="keyText">Auteur :</span>
            <span class="valueText">&nbsp;{{file?.author?.firstname}} {{file?.author?.name}}</span>
          </md-list-item>
          <md-list-item>
            <span class="keyText">Version :</span>
            <span class="valueText">&nbsp;{{file?.version?.num}}</span>
          </md-list-item>
          <md-list-item>
            <span class="keyText">Date d'upload :</span>
            <span class="valueText">&nbsp;{{file?.version?.date_upload | date}}</span>
          </md-list-item>
          <md-list-item>
            <span class="keyText">Statut :</span>
            <span class="valueText">&nbsp;{{file?.version?.status | versionStatus}}&nbsp;</span>
            <status-icon [status]="fileIconStatus()"></status-icon>
          </md-list-item>

          <!-- Télécharger -->
          <md-list-item *ngIf="canDownload()">
            <form ngNoForm class="inlineForm" [action]="downloadLink()" method="POST">
              <input type="hidden" name="token" [value]="getToken()">
              <button md-raised-button type="submit" color="primary" mdTooltip="Télécharger" mdTooltipPosition="right">
                <md-icon>file_download</md-icon><label>Télécharger</label>
              </button>
            </form>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>

    <!-- Contrôles et validations -->
    <section *ngFor="let container of checkContainers" class="checkContainer">
      <datatable
          [options]="{displayToggle: true, emptyMessage: 'Pas d\'action sur ce fichier.'}"
          [data]="container.checksObs"
          [columns]="['Ordre', 'Nom', 'Prénom', 'Statut', 'Commentaire']">
        <datatable-title>
          <h2>{{container.title}} <status-icon [status]="checksStatus(container)"></status-icon></h2>
        </datatable-title>
        <ng-template let-check="item">
          <td>{{check.order_num + 1}}</td>
          <td>{{check.user.name}}</td>
          <td>{{check.user.firstname}}</td>
          <td>{{check.status | checkStatus}}</td>
          <td class="commentCell">
            <p>{{check.comment}}</p>
          </td>
        </ng-template>
      </datatable>
    </section>
  </md-card-content>

  <!-- bouton de retour -->
  <md-card-actions align="end">
    <button md-raised-button class="submitButton" color="primary" type="button" (click)="close()">
      Retour
    </button>
  </md-card-actions>
</md-card>