<!--
  Auteur : Florian
  License : 

  Template pour afficher les détails de version d'un fichier
-->

<md-card class="details">
  <!-- Titre : nom du fichier -->
  <md-card-title>Fichier : {{file?.version?.filename}}</md-card-title>
  
  <md-card-content>
    <md-card class="fileSummary">
      <md-card-content>
        <md-list dense>
          <h1 md-subheader>Sommaire</h1>
          
          <!-- Infos sur le fichier -->
          <md-list-item>
            <span class="keyText">Auteur :</span>
            <span class="valueText">&nbsp;{{file?.author?.firstname}} {{file?.author?.name}}</span>
          </md-list-item>
          <md-list-item>
            <span class="keyText">Version :</span>
            <span class="valueText">&nbsp;{{file?.version?.num}}</span>
          </md-list-item>
          <md-list-item>
            <span class="keyText">Date d'upload :</span>
            <span class="valueText">&nbsp;{{file?.version?.date_upload | date}}</span>
          </md-list-item>
          <md-list-item>
            <span class="keyText">Statut :</span>
            <span class="valueText">&nbsp;{{file?.version?.status | versionStatus}}&nbsp;</span>
            <status-icon [status]="fileIconStatus()"></status-icon>
          </md-list-item>

          <!-- Télécharger -->
          <md-list-item *ngIf="canDownload()">
            <app-download-version-button [version]="file.version" text="Télécharger"></app-download-version-button>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>

    <!-- Contrôles et validations -->
    <section *ngFor="let container of checkContainers" class="checkContainer">
      <datatable
          [options]="{displayToggle: true, emptyMessage: 'Pas d\'action sur ce fichier.'}"
          [data]="container.checksObs"
          [columns]="[
            { label: 'Ordre',         width:  '6%'},
            { label: 'Nom',           width: '10%'},
            { label: 'Prénom',        width: '10%'},
            { label: 'Statut',        width:  '8%'},
            { label: 'Date Init',     width: '12%'},
            { label: 'Date Contrôle', width: '12%'},
            { label: 'Commentaire',   width: '34%'},
            { label: '',              width:  '8%'}
          ]">
        <datatable-title>
          <h2>{{container.title}} <status-icon [status]="checksStatus(container)"></status-icon></h2>
        </datatable-title>

        <ng-template datatable-line let-check="item">     
          <!-- Infos sur le check -->
          <td><cell-content [content]="check.order_num + 1"></cell-content></td>
          <td><cell-content [content]="check.user.name"></cell-content></td>
          <td><cell-content [content]="check.user.firstname"></cell-content></td>
          <td><cell-content [content]="check.status | checkStatus"></cell-content></td>
          <td><cell-content [content]="check.date_init | date"></cell-content></td>
          <td><cell-content [content]="check.date_checked | date"></cell-content></td>
          <td><cell-content [content]="check.comment ? check.comment : ''"></cell-content></td>
          
          <!-- Actions -->
          <td>
            <!-- Envoyer un mail de rappel -->
            <button *ngIf="userIsAdmin() && statusIsToCheck(check.status)" class="smallButton"
                mdTooltip="Envoyer un mail de rappel" mdTooltipPosition="above"
                md-raised-button color="warn" type="button" (click)="remind(check)">
              <md-icon>rotate_left</md-icon>
            </button>
          </td>
        </ng-template>
      </datatable>
    </section>

    <!-- Autres Versions -->
    <section *ngIf="userIsAdmin()" class="checkContainer">
      <datatable
          [options]="{
            displayToggle: true,
            emptyMessage: 'Aucune autre version.',
            emptySearchMessage: 'Aucune version ne correspond à votre recherche.'
          }"
          [data]="otherVersions.dataObs"
          [columns]="[
            { label: 'Nom',            query: 'filename',    sort: true, search: true, width: '30%' },
            { label: 'Auteur',         query: 'author',      sort: true, search: true, width: '25%' },
            { label: 'Version',        query: 'num',         sort: true, search: true, width:  '8%' },
            { label: 'Date d\'upload', query: 'date_upload', sort: true,               width: '12%' },
            { label: 'Statut',         query: 'status',      sort: true, search: true, width: '10%' },
            { label: '',                                                               width: '15%' }
          ]"
          (queryParams)="otherVersions.update($event)">
        <datatable-title>
          <h2>Autres Versions</h2>
        </datatable-title>

        <ng-template datatable-line let-version="item">
          <!-- Infos sur la version -->
          <td><cell-content [content]="version.filename"></cell-content></td>
          <td><cell-content [content]="file.author?.firstname + ' ' + file.author?.name"></cell-content></td>
          <td><cell-content [content]="version.num"></cell-content></td>
          <td><cell-content [content]="version.date_upload | date:'inconnue'"></cell-content></td>
          <td><cell-content [content]="version.status | versionStatus"></cell-content></td>
          <td><app-download-version-button [version]="version"></app-download-version-button></td>
        </ng-template>
      </datatable>
    </section>
  </md-card-content>

  <!-- bouton de retour -->
  <md-card-actions align="end">
    <button md-raised-button class="submitButton" color="primary" type="button" (click)="close()">
      Retour
    </button>
  </md-card-actions>
</md-card>