<datatable *ngIf="isListMode"
    [options]="{
      selectionCol: true,
      addButton: true,
      addButtonTooltip: 'Ajouter un utilisateur',
      emptyMessage: 'Il n\'y a pas encore d\'utilisateur.',
      emptySearchMessage: 'Aucun utilisateur ne correspond à votre recherche.'
    }"
    [data]="users"
    [columns]="[
      { label: 'Prénom',      query: 'firstname', sort: true, search: true, width: '15%' },
      { label: 'Nom',         query: 'name',      sort: true, search: true, width: '15%' },
      { label: 'Identifiant', query: 'login',     sort: true, search: true, width: '15%' },
      { label: 'Email',       query: 'email',     sort: true, search: true, width: '15%' },
      { label: 'Actif',       query: 'active',    sort: true,               width: '8%' },
      { label: 'En Attente',  query: 'pending',   sort: true,               width: '8%' },
      { label: '',                                                          width: '20%' }
    ]"
    (addButtonClick)="add()"
    (queryParams)="paramsChange($event)">
  <datatable-title>
    <h2>Liste des utilisateurs</h2>
  </datatable-title>
  <ng-template let-user="item">
    <td>{{user.firstname}}</td>
    <td>{{user.name}}</td>
    <td>{{user.login}}</td>
    <td>{{user.email}}</td>
    <td>{{user.active}}</td>
    <td>{{user.pending}}</td>
    <td>
      <button md-raised-button color="primary" type="button" (click)="rights(user)">Droits</button>
      <button *ngIf="roleChecker.userIsSuperAdmin()" md-raised-button color="primary" type="button" (click)="adminLoginAs(user.login)">Utiliser Compte</button>
    </td>
  </ng-template>
</datatable>

<app-user-form *ngIf="isAddMode" (close)="activateListMode($event)"></app-user-form>

<app-rightslist *ngIf="isRightsMode" [user]="selectedUser" (done)="activateListMode(false)"></app-rightslist>
