<md-card *ngIf="! project">
  <md-card-content>
    <p>Selectionnez un projet dans la liste...<p>
  </md-card-content>
</md-card>

<datatable *ngIf="project"
    [options]="{
      addButton: userCanAddFile(),
      addButtonTooltip: 'Ajouter un fichier',
      emptyMessage: 'Ce projet ne contient pas encore de fichier.'
    }"
    [dataObs]="filesObs"
    [columns]="['Fichier', 'Auteur', 'Version', 'Date d\'upload', 'Statut', '', '']"
    (addButtonClick)="add()">
  <datatable-title>
    <h2>Projet : {{project.name}}</h2>
  </datatable-title>
  <ng-template let-file="item">
    <td>
      <a
          [routerLink]="['/version_details', encodeURIFile(file)]"
          mdTooltip="{{file.version?.filename}}" mdTooltipPosition="above" mdTooltipHideDelay="0">
        {{file.version?.filename | truncate:30}}
      </a>
    </td>
    <td>{{file.author?.firstname}} {{file.author?.name}}</td>
    <td>{{file.version?.num}}</td>
    <td>{{file.version?.date_upload?.day | numberLen:2}}/{{file.version?.date_upload?.month | numberLen:2}}/{{file.version?.date_upload?.year | numberLen:4}}</td>
    <td>{{file.version?.status | versionStatus}}</td>
    <td>
      <span *ngIf="file.version && canDownload(file)">
        <a md-raised-button class="smallButton" color="primary" mdTooltip="Télécharger" mdTooltipPosition="above"
            target="_self" [href]="downloadLink(file.version.id)" download>
          <md-icon>file_download</md-icon>
        </a>
      </span>
      <span *ngIf="file.author && file.author.id == userId">
        <a md-raised-button class="smallButton" color="accent" mdTooltip="Nouvelle version" mdTooltipPosition="above"
            [routerLink]="['/add_file', project.id, file.id]">
          <md-icon>file_upload</md-icon>
        </a>
      </span>
      <span *ngIf="hasControl(file.version.id)">
        <a md-raised-button color="warn" mdTooltip="Contrôler" mdTooltipPosition="above"
            [routerLink]="['/check', getControlAsParameter(file.version.id)]">
          Contrôler
        </a>
      </span>
      <span *ngIf="hasValidation(file.version.id)">
        <a md-raised-button color="warn" mdTooltip="Valider" mdTooltipPosition="above"
            [routerLink]="['/check', getValidationAsParameter(file.version.id)]">
          Valider
        </a>
      </span>
    </td>
    <td>
      <span *ngIf="userCanDeleteFile()">
        <button md-raised-button class="smallButton" type="button" color="warn"
            mdTooltip="Supprimer" mdTooltipPosition="above" (click)="deleteFile(file)">
          <md-icon>delete</md-icon>
        </button>
      </span>
    </td>
  </ng-template>
</datatable>
