<md-card *ngIf="! project">
  <md-card-content>
    <p>Selectionnez un projet dans la liste...<p>
  </md-card-content>
</md-card>

<datatable *ngIf="project"
    [options]="{
      addButton: userCanAddFile(),
      addButtonTooltip: 'Ajouter un fichier',
      emptyMessage: 'Ce projet ne contient pas encore de fichier.',
      emptySearchMessage: 'Aucun fichier ne correspond à votre recherche.'
    }"
    [data]="filesObs"
    [columns]="[
      { label: 'Fichier',        query: 'version.filename',    sort: true, search: true, width: '30%' },
      { label: 'Auteur',         query: 'author',              sort: true, search: true, width: '20%' },
      { label: 'Version',        query: 'version.num',         sort: true, search: true, width:  '8%' },
      { label: 'Date d\'upload', query: 'version.date_upload', sort: true,               width: '14%' },
      { label: 'Statut',         query: 'version.status',      sort: true, search: true, width: '12%' },
      { label: '',                                                                       width: '11%' },
      { label: '',                                                                       width:  '5%' }
    ]"
    (addButtonClick)="add()"
    (queryParams)="paramsChange($event)">
  <datatable-title>
    <h2>Projet : {{project.name}} <span [class.hidden]="project.active" class="inactive">(Supprimé)</span></h2>
    <div class="projectActions">
      <button [class.hidden]="! userCanEditProject()" md-raised-button class="smallButton" type="button" color="accent"
          mdTooltip="Editer" mdTooltipPosition="above" (click)="editProject()">
        <md-icon>mode_edit</md-icon>
      </button>
      <button [class.hidden]="! userCanDeleteProject()" md-raised-button class="smallButton" type="button" color="warn"
          mdTooltip="Supprimer" mdTooltipPosition="above" (click)="activateProject(false)">
        <md-icon>delete_forever</md-icon>
      </button>
      <button [class.hidden]="! userCanActivateProject()" md-raised-button class="smallButton" type="button" color="warn"
          mdTooltip="Restaurer" mdTooltipPosition="above" (click)="activateProject(true)">
        <md-icon>replay</md-icon>
      </button>
    </div>
  </datatable-title>
  <ng-template let-file="item">
    <td>
      <a
          [routerLink]="['/version_details', base64UrlEncode(file)]"
          mdTooltip="{{file.version?.filename}}" mdTooltipPosition="above" mdTooltipHideDelay="0">
        {{file.version?.filename | truncate:30}}
      </a>
    </td>
    <td>{{file.author?.firstname}} {{file.author?.name}}</td>
    <td>{{file.version?.num}}</td>
    <td>{{file.version?.date_upload | date}}</td>
    <td>{{file.version?.status | versionStatus}}</td>
    <td>
      <span *ngIf="file.version && canDownload(file)">
        <form ngNoForm class="inlineForm" [action]="downloadLink(file.version.id)" method="POST">
          <input type="hidden" name="token" [value]="getToken()">
          <button md-raised-button class="smallButton" type="submit" color="primary" mdTooltip="Télécharger" mdTooltipPosition="above">
            <md-icon>file_download</md-icon>
          </button>
        </form>
      </span>
      <span *ngIf="file.author && file.author.id == userId">
        <a md-raised-button class="smallButton" color="accent" mdTooltip="Nouvelle version" mdTooltipPosition="above"
            [routerLink]="['/add_file', project.id, file.id]">
          <md-icon>file_upload</md-icon>
        </a>
      </span>
      <span *ngIf="hasControl(file.version.id)">
        <a md-raised-button color="warn" mdTooltip="Contrôler" mdTooltipPosition="above"
            [routerLink]="['/check', getControlAsParameter(file.version.id)]">
          Contrôler
        </a>
      </span>
      <span *ngIf="hasValidation(file.version.id)">
        <a md-raised-button color="warn" mdTooltip="Valider" mdTooltipPosition="above"
            [routerLink]="['/check', getValidationAsParameter(file.version.id)]">
          Valider
        </a>
      </span>
    </td>
    <td>
      <span *ngIf="userCanDeleteFile()">
        <button md-raised-button class="smallButton" type="button" color="warn"
            mdTooltip="Supprimer" mdTooltipPosition="above" (click)="deleteFile(file)">
          <md-icon>delete</md-icon>
        </button>
      </span>
    </td>
  </ng-template>
</datatable>
