<datatable *ngIf="isListMode"
    [options]="{
      selectionCol: true,
      addButton: true,
      addButtonTooltip: 'Ajouter un utilisateur',
      addButtonIconName: 'person_add',
      emptyMessage: 'Il n\'y a pas encore d\'utilisateur.',
      emptySearchMessage: 'Aucun utilisateur ne correspond à votre recherche.'
    }"
    [data]="dataObs"
    [columns]="[
      { label: 'Prénom',      query: 'firstname', sort: true, search: true, width: '14%' },
      { label: 'Nom',         query: 'name',      sort: true, search: true, width: '14%' },
      { label: 'Identifiant', query: 'login',     sort: true, search: true, width: '10%' },
      { label: 'Email',       query: 'email',     sort: true, search: true, width: '18%' },
      { label: 'Actif',       query: 'active',    sort: true,               width: '6%' },
      { label: 'En Attente',  query: 'pending',   sort: true,               width: '8%' },
      { label: '',                                                          width: '26%' }
    ]"
    (addButtonClick)="add()"
    (queryParams)="update($event)">
  <datatable-title>
    <h2>Liste des utilisateurs</h2>
  </datatable-title>
  <ng-template let-user="item">
    <td>{{user.firstname}}</td>
    <td>{{user.name}}</td>
    <td>{{user.login}}</td>
    <td>{{user.email}}</td>
    <td>{{user.active | boolToString}}</td>
    <td>{{user.pending | boolToString}}</td>
    <td>
      <button md-raised-button class="smallButton" color="primary" type="button"
          mdTooltip="Gestion des Droits" mdTooltipPosition="above" (click)="rights(user)">
        <md-icon>lock_open</md-icon>
      </button>
      <button *ngIf="roleChecker.userIsSuperAdmin() && ! isSuperAdmin(user)" class="smallButton"
          mdTooltip="Utiliser ce Compte" mdTooltipPosition="above"
          md-raised-button color="warn" type="button" (click)="adminLoginAs(user.login)">
        <md-icon>exit_to_app</md-icon>
      </button>
    </td>
  </ng-template>
</datatable>

<app-user-form *ngIf="isAddMode" (close)="activateListMode($event)"></app-user-form>

<app-rightslist *ngIf="isRightsMode" [user]="selectedUser" (done)="activateListMode(false)"></app-rightslist>
