.navProject {
    display: inline-block;
    padding: 0;
    margin: 2em 3em 2em 0em;
    max-width: 15em;
}

.hide {
    display: none;
}

@media screen and (min-width: 993px) {
    .hide {
        display: inline-block;
    }
    .toggle {
        display: none;
    }
}

/*.navProject:hover {
    opacity: 1.0;
}*/

.navProject md-nav-list {
    width: 100%;
    padding: 0;
}

.navProject md-list-item {
    width: 100%;
}

.navProject .selected {
    background-color: #673ab7;
    color: #ffffff;
}

.navProject md-card-content {
    display: block;
    max-height: 80vh;
    width: 100%;
    overflow: hidden;
}

.navProject md-card-content:hover {
    overflow: auto;
}

.navProject .add {
    margin: 0.3em 0.3em 1.0em 0.3em;
}

.navProject .pbutton {
    display: block;
    min-width: 100%;
    border-radius: 0px;
    text-align: left;
    margin-right: 1.5em;
}

.navProject .title {
    padding: 0.3em 0.2em;
    margin: 0;
    background-color: #ddd;
    text-align: center;
}




.projectlist {
    display: block;
    width: 15%;
}

.projectlist a {
    display: block;
    text-decoration: none;
    background-color: greenyellow;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    height: 2em;
    width: 100%;
}

.projectlist a:visited {
    text-decoration: none;
}

.projectlist a:hover {
    text-decoration: none;
    background-color: red;
}



table {
    display: inline-table;
    border-collapse: collapse;
    border: 5px solid black;
    width: 65%;
    text-align: center;
    margin: 0 auto;
}
th, td {
    border: 2px solid black;
}