<section>
  <div>
    <button md-mini-fab class="toggle" (click)="toggle()"><md-icon>list</md-icon></button>
  </div>
  <div>
    <md-card class="navProject" [class.hide]="! opened">
      <md-card-title class="title">Projets</md-card-title>
      <md-card-content>
        <button md-mini-fab class="add" (click)="add()"><md-icon>create_new_folder</md-icon></button>
        <md-nav-list dense>
          <div *ngFor="let project of projects">
            <md-list-item *ngIf="selected == project" class="selected">
              <span md-line>{{project.name}}</span>
            </md-list-item>
            <md-list-item *ngIf="selected != project" (click)="select(project)">
              <span md-line>{{project.name}}</span>
            </md-list-item>
          </div>
        </md-nav-list>
      </md-card-content>
    </md-card>
  </div>
</section>

<!--
<table>
  <tr>
    <th>Id</th>
    <th>Actif</th>
    <th>Chemin</th>
    <th>Nom</th>
  </tr>
  <tr *ngFor="let project of projects">
    <td>{{project.id}}</td>
    <td>{{project.active}}</td>
    <td>{{project.filepath}}</td>
    <td>{{project.name}}</td>
  </tr>
</table>

<a target="_self" href="https://localhost:8443/IUF/rest/download/1" download>Download</a>


  <input type="file" (change)="onChange($event)" placeholder="Upload file">
  <section *ngIf="progress >= 0">
    <progress value="{{progress}}" max="100">{{progress}} %</progress>
  <section>
  <br/>
-->