<md-card class="navProject">
  <md-card-title class="title">Projets</md-card-title>
  <md-card-content>
    <div>
      <button md-mini-fab class="add"><md-icon>create_new_folder</md-icon></button>
    </div>
    <div *ngFor="let project of projects">
      <button md-raised-button *ngIf="selected == project.id" class="pbutton" color="primary" (click)="select(project.id)">{{project.name}}</button>
      <button md-raised-button *ngIf="selected != project.id" class="pbutton" (click)="select(project.id)">{{project.name}}</button>
    </div>
  </md-card-content>
</md-card>

<table>
  <tr>
    <th>Id</th>
    <th>Actif</th>
    <th>Chemin</th>
    <th>Nom</th>
  </tr>
  <tr *ngFor="let project of projects">
    <td>{{project.id}}</td>
    <td>{{project.active}}</td>
    <td>{{project.filepath}}</td>
    <td>{{project.name}}</td>
  </tr>
</table>

<a target="_self" href="https://localhost:8443/IUF/rest/download/1" download>Download</a>

<!--<form ngNoForm method="POST">-->
  <!--Fichier à uploader : <input type="file" name="upfile" id="upfile"><br/>-->
  <input type="file" (change)="onChange($event)" placeholder="Upload file">
  <!--Notes à propos du fichier : <input type="text" name="note"><br/>-->
  <section *ngIf="progress >= 0">
    <progress value="{{progress}}" max="100">{{progress}} %</progress>
  <section>
  <br/>
  <!--<input type="button" (click)=fileChange($event) value="Uploader">-->
<!--</form>-->
