<!--
  Auteur : Florian
  License : 

  Template pour les checks de version : contrôle ou validation
-->

<section class="container">
  <gui-form [formGroup]="form" title="{{checkTypeName}} de {{filename}}" submitOnEnter="false"> 
    
    <app-download-version-button head [version]="check.version" text="Télécharger"></app-download-version-button>

    <!-- Zone de commentaire -->
    <md-input-container gui-form-input>
      <textarea mdInput class="comment" type="text"
          placeholder="Commentaire sur le fichier..."
          formControlName="comment" required>
      </textarea>
      <md-error *ngIf="form.controls.comment.errors?.required">Veuillez entrer un commentaire.</md-error>
      <md-error *ngIf="form.controls.comment.errors?.minlength">Au moins 10 caractères.</md-error>
      <md-error *ngIf="form.controls.comment.errors?.maxlength">Maximum 250 caractères.</md-error>
    </md-input-container>
    <p *ngIf="form.controls.comment.untouched
        && form.controls.comment.dirty
        && form.controls.comment.errors?.maxlength"
        class="error">
      Maximum 250 caractères.
    </p>

    <!-- Boutons : valider - refuser --> 
    <button md-raised-button gui-form-action
        class="submitButton" color="primary" type="submit"
        (click)="confirm(true)" [disabled]="!form.valid">
      Valider
    </button>
    <button md-raised-button gui-form-action
        class="submitButton" color="warn" type="submit"
        (click)=confirm(false) [disabled]="!form.valid">
      Refuser
    </button>
  </gui-form>
</section>