<!--
  Auteur : Florian
  License : 

  Datatable de la liste des utilisateurs dans le panneau d'admin
-->

<datatable
    [options]="{
      selectionCol: true,
      displayFooter: true,
      addButton: true,
      addButtonTooltip: 'Ajouter un utilisateur',
      addButtonIconName: 'person_add',
      emptyMessage: 'Il n\'y a pas encore d\'utilisateur.',
      emptySearchMessage: 'Aucun utilisateur ne correspond à votre recherche.'
    }"
    [data]="dataObs"
    [columns]="[
      { label: 'Identifiant', query: 'login',     sort: true, search: true, width: '10%' },
      { label: 'Email',       query: 'email',     sort: true, search: true, width: '18%' },
      { label: 'Prénom',      query: 'firstname', sort: true, search: true, width: '14%' },
      { label: 'Nom',         query: 'name',      sort: true, search: true, width: '14%' },
      { label: 'Actif',       query: 'active',    sort: true,               width:  '6%' },
      { label: 'En Attente',  query: 'pending',   sort: true,               width:  '8%' },
      { label: '',                                                          width: '26%' }
    ]"
    (addButtonClick)="add()"
    (selectedDataUpdate)="selectionManager.updateSelectedEntities($event)"
    (queryParams)="update($event)">
  <!-- total width: 96% : 4% de width pour la colonne de selection -->
  
  <!-- Titre -->
  <datatable-title>
    <h2>Liste des utilisateurs</h2>
  </datatable-title>

  <!-- Template pour l'affichage d'une ligne de la datatable : -->
  <ng-template let-user="item">   
    <!-- Infos sur l'utilisateur -->
    <td><cell-content [content]="user.login"></cell-content></td>
    <td><cell-content [content]="user.email"></cell-content></td>
    <td><cell-content [content]="user.firstname"></cell-content></td>
    <td><cell-content [content]="user.name"></cell-content></td>
    <td><cell-content [content]="user.active | boolToString"></cell-content></td>
    <td><cell-content [content]="user.pending | boolToString"></cell-content></td>
    
    <!-- Actions : -->
    <td>
      <!-- Gestion des droits -->
      <button *ngIf="! isSuperAdmin(user) || roleChecker.userIsSuperAdmin()"
          md-raised-button class="smallButton" color="primary" type="button"
          mdTooltip="Gestion des Droits" mdTooltipPosition="above" (click)="rights(user)">
        <md-icon>lock_open</md-icon>
      </button>

      <!-- Editer -->
      <button *ngIf="! isSuperAdmin(user) || roleChecker.userIsSuperAdmin()"
          md-raised-button class="smallButton" color="accent" type="button"
          mdTooltip="Editer" mdTooltipPosition="above" (click)="edit(user)">
        <md-icon>edit</md-icon>
      </button>

      <!-- Réinitialisation du mot de passe -->
      <button class="smallButton"
          mdTooltip="Ré-envoyer un mail d'activation / Reset mot de passe" mdTooltipPosition="above"
          md-raised-button color="warn" type="button" (click)="resetPassword(user)"
          [disabled]="! user.active">
        <md-icon>rotate_left</md-icon>
      </button>
      
      <!-- Utiliser le compte de l'utilisateur comme si c'était le nôtre (superadmin uniquement) -->
      <button *ngIf="roleChecker.userIsSuperAdmin() && ! isSuperAdmin(user)" class="smallButton"
          mdTooltip="Utiliser ce Compte" mdTooltipPosition="above"
          md-raised-button color="warn" type="button" (click)="adminLoginAs(user.login)">
        <md-icon>exit_to_app</md-icon>
      </button>

      <!-- Supprimer -->
      <button *ngIf="user.active && (! isSuperAdmin(user) || roleChecker.userIsSuperAdmin())" class="smallButton"
          mdTooltip="Supprimer" mdTooltipPosition="above"
          md-raised-button color="warn" type="button" (click)="activateAccount(user, false)">
        <md-icon>delete</md-icon>
      </button>

      <!--Réactiver -->
      <button *ngIf="! user.active && (! isSuperAdmin(user) || roleChecker.userIsSuperAdmin())" class="smallButton"
          mdTooltip="Réactiver" mdTooltipPosition="above"
          md-raised-button color="warn" type="button" (click)="activateAccount(user, true)">
        <md-icon>replay</md-icon>
      </button>
    </td>
  </ng-template>

  <!-- Footer pour des actions globales sur les utilisateurs sélectionnés dans la datatable : -->
  <datatable-footer>
    <!-- Activer les comptes des utilisateurs sélectionnés -->
    <button md-raised-button class="smallButton" color="warn" type="button"
        mdTooltip="Activer les Comptes" mdTooltipPosition="above" (click)="selectionManager.activateSelection(true)"
        [disabled]="! selectionManager.canActivateAnySelectedItem">
      <md-icon>replay</md-icon>
    </button>
    
    <!-- Désactiver les comptes des utilisateurs sélectionnés -->
    <button md-raised-button class="smallButton" color="warn" type="button"
        mdTooltip="Supprimer les Comptes" mdTooltipPosition="above" (click)="selectionManager.activateSelection(false)"
        [disabled]="! selectionManager.canDesactivateAnySelectedItem">
      <md-icon>delete_forever</md-icon>
    </button>
  </datatable-footer>
</datatable>