<!--
  Auteur : Florian
  License : 

  Datatable de la liste des utilisateurs dans le panneau d'admin
-->

<datatable
    [options]="{
      selectionCol: true,
      addButton: true,
      addButtonTooltip: 'Ajouter un utilisateur',
      addButtonIconName: 'person_add',
      emptyMessage: 'Il n\'y a pas encore d\'utilisateur.',
      emptySearchMessage: 'Aucun utilisateur ne correspond à votre recherche.'
    }"
    [data]="dataObs"
    [columns]="[
      { label: 'Identifiant', query: 'login',     sort: true, search: true, width: '10%' },
      { label: 'Email',       query: 'email',     sort: true, search: true, width: '18%' },
      { label: 'Prénom',      query: 'firstname', sort: true, search: true, width: '14%' },
      { label: 'Nom',         query: 'name',      sort: true, search: true, width: '14%' },
      { label: 'Actif',       query: 'active',    sort: true,               width: '6%' },
      { label: 'En Attente',  query: 'pending',   sort: true,               width: '8%' },
      { label: '',                                                          width: '26%' }
    ]"
    (addButtonClick)="add()"
    (queryParams)="update($event)">
  <!-- total width: 96% : 4% de width pour la colonne de selection -->
  
  <!-- Titre -->
  <datatable-title>
    <h2>Liste des utilisateurs</h2>
  </datatable-title>

  <!-- Template pour l'affichage d'une ligne de la datatable : -->
  <ng-template let-user="item">   
    <!-- Infos sur l'utilisateur -->
    <td>{{user.login}}</td>
    <td>{{user.email}}</td>
    <td>{{user.firstname}}</td>
    <td>{{user.name}}</td>
    <td>{{user.active | boolToString}}</td>
    <td>{{user.pending | boolToString}}</td>
    
    <!-- Actions : -->
    <td>
      <!-- Gestion des droits -->
      <button *ngIf="! isSuperAdmin(user) || roleChecker.userIsSuperAdmin()"
          md-raised-button class="smallButton" color="primary" type="button"
          mdTooltip="Gestion des Droits" mdTooltipPosition="above" (click)="rights(user)">
        <md-icon>lock_open</md-icon>
      </button>

      <!-- Editer -->
      <button *ngIf="! isSuperAdmin(user) || roleChecker.userIsSuperAdmin()"
          md-raised-button class="smallButton" color="accent" type="button"
          mdTooltip="Editer" mdTooltipPosition="above" (click)="edit(user)">
        <md-icon>edit</md-icon>
      </button>
      
      <!-- Utiliser le compte de l'utilisateur comme si c'était le notre (superadmin uniquement) -->
      <button *ngIf="roleChecker.userIsSuperAdmin() && ! isSuperAdmin(user)" class="smallButton"
          mdTooltip="Utiliser ce Compte" mdTooltipPosition="above"
          md-raised-button color="warn" type="button" (click)="adminLoginAs(user.login)">
        <md-icon>exit_to_app</md-icon>
      </button>

      <!-- Supprimer -->
      <button *ngIf="! isSuperAdmin(user) || roleChecker.userIsSuperAdmin()" class="smallButton"
          mdTooltip="Supprimer" mdTooltipPosition="above"
          md-raised-button color="warn" type="button" (click)="delete(user)">
        <md-icon>delete</md-icon>
      </button>
    </td>
  </ng-template>
</datatable>