<datatable
    [options]="{
      emptyMessage: 'Vous n\'avez pas encore uploadé de fichier.',
      emptySearchMessage: 'Aucun fichier ne correspond à votre recherche.'
    }"
    [data]="dataObs"
    [columns]="[
      { label: 'Fichier',        query: 'version.filename',    sort: true, search: true, width: '27%' },
      { label: 'Projet',         query: 'project.name',        sort: true, search: true, width: '23%' },
      { label: 'Version',        query: 'version.num',         sort: true, search: true, width: '10%' },
      { label: 'Date d\'upload', query: 'version.date_upload', sort: true,               width: '13%' },
      { label: 'Statut',         query: 'version.status',      sort: true, search: true, width: '12%' },
      { label: '',                                                                       width: '15%' }
    ]"
    (queryParams)="update($event, [userId])">
  
  <!-- Titre -->
  <datatable-title>
    <h2>Liste de vos fichiers</h2>   
  </datatable-title>
  
  <!-- Template pour l'affichage des fichiers : -->
  <ng-template let-file="item">
    <!-- Infos du fichier -->
    <td>
      <cell-content [content]="file.version?.filename" [link]="true" (click)="versionDetails(file)"></cell-content>
    </td>
    <td><cell-content [content]="file.project?.name"></cell-content></td>
    <td><cell-content [content]="file.version?.num"></cell-content></td>
    <td><cell-content [content]="file.version?.date_upload | date:'inconnue'"></cell-content></td>
    <td><cell-content [content]="file.version?.status | versionStatus"></cell-content></td>
    <td>
      <!-- Bouton Télécharger -->
      <app-download-version-button [version]="file.version"></app-download-version-button>

      <!-- Bouton Nouvelle Version -->
      <button md-raised-button class="smallButton" color="accent" mdTooltip="Nouvelle version" mdTooltipPosition="above"
          button="type" (click)="addFile(file)">
        <md-icon>file_upload</md-icon>
      </button>
    </td>
  </ng-template>
</datatable>
