<!--
  Auteur : Florian
  License : 
  
  Template du contenu du panneau d'admin :
  Affiche la bonne section en fonction de l'item sélectionné dans le menu de navigation du panneau d'admin
-->

<!-- utilisateurs -->
<section *ngIf="selectedItemId === getItemId('Utilisateurs')">
  <md-tab-group [selectedIndex]="getTabIndex('users')" (selectedIndexChange)="setTabIndex('users', $event)">
    <md-tab label="Utilisateurs">   <!-- Onglet Utilisateurs -->
      <app-users-section *ngIf="getTabIndex('users') === 0" [stateName]="'List'"></app-users-section>
    </md-tab>
    <md-tab label="Rôles">          <!-- Onglet Roles -->
      <app-users-section *ngIf="getTabIndex('users') === 1" [stateName]="'Roles'"></app-users-section>
    </md-tab>
  </md-tab-group>
</section>

<!-- projets -->
<section *ngIf="selectedItemId === getItemId('Projets')">
  <md-tab-group [selectedIndex]="getTabIndex('projects')" (selectedIndexChange)="setTabIndex('projects', $event)">
    <md-tab label="Projets">    <!-- Onglet Projets -->
      <app-projects-section *ngIf="getTabIndex('projects') === 0" [stateName]="'List'"></app-projects-section>
    </md-tab>
  </md-tab-group>
</section>

<!-- logs -->
<section *ngIf="selectedItemId === getItemId('Logs')">
  <md-tab-group [selectedIndex]="getTabIndex('logs')" (selectedIndexChange)="setTabIndex('logs', $event)">
    <md-tab label="Logs">   <!-- Onglet Logs -->
      <p *ngIf="getTabIndex('logs') === 0">Affichage des logs (WIP)</p>
    </md-tab>
  </md-tab-group>
</section>
