<!--
  Auteur : Florian
  License : 

  Formulaire d'ajout de fichier (ou nouvelle version)
-->

<section class="container">
  <gui-form
      [formGroup]="form"
      [title]="newVersionMode ? 'Ajouter une nouvelle version' : 'Ajouter un fichier'"
      submitOnEnter="true"
      [submitCondition]="isValidForm"
      (formSubmit)="submit()">

    <!-- sélection du fichier -->
    <div class="margin" gui-form-input>
      <input-file (fileSelect)="fileSelect($event)" [accept]="'*/*'">
        <span class="buttonText">Choisir un fichier</span>
      </input-file>
    </div>
    <!-- num du fichier choisi -->
    <md-input-container gui-form-input>
      <input mdInput type="text" placeholder="Nom du fichier choisi" formControlName="filename" required/>
      <md-error>Veuillez choisir un fichier à ajouter</md-error>
    </md-input-container>

    <!-- choix contrôleurs et valideurs -->
    <div *ngFor="let container of userContainers" gui-input-form class="userContainerDataTable">
      
      <!-- Afficahge datatable des contrôleurs ou valideurs sélectionnés pour une nouvelle version uniquement -->
      <datatable *ngIf="newVersionMode"
          [data]="container.usersObs"
          [columns]="container.size > 1 ? ['Ordre', 'Nom', 'Prénom'] : ['Nom', 'Prénom']">
        <datatable-title>
          <h3>{{container.title}}</h3>
        </datatable-title>
        <ng-template let-user="item" let-index="index" let-last="last">
          <td *ngIf="container.size > 1">{{container.countOrderValue(index)}}</td>
          <td><cell-content [content]="user.name"></cell-content></td>
          <td><cell-content [content]="user.firstname"></cell-content></td>
        </ng-template>
      </datatable>
      
      <!-- datatable des contrôleurs ou valideurs sélectionnés pour un nouveau fichier (modifiable) -->
      <datatable *ngIf="! newVersionMode && container.isListMode()"
        [options]="{
          addButton: container.availableSize > 0,
          addButtonTooltip: 'Ajouter',
          addButtonIconName: 'person_add',
          emptyMessage: container.availableSize > 0 ? 'Veuillez ajouter au moins un ' +
              container.name + '.' : 'Pas encore de ' + container.name + ' affecté à ce projet.'
        }"
        [data]="container.usersObs"
        [columns]="container.size > 1 ? ['Rang', 'Priorité', 'Ordre', 'Nom', 'Prénom', ''] : ['Nom', 'Prénom', '']"
        (addButtonClick)="switchContainerMode(container)">
        <datatable-title>
          <h3>{{container.title}}</h3>
        </datatable-title>
        <ng-template let-user="item" let-index="index" let-last="last">
          <td *ngIf="container.size > 1" class="updownCol">
            <up-down [first]="index == 0" [last]="last" (up)="container.swap(index, index - 1)" (down)="container.swap(index, index + 1)"></up-down>
          </td>
          <td *ngIf="container.size > 1" class="thinCol">
            <button *ngIf="index > 0" class="smallButton" md-raised-button type="button"
                (click)="container.chainToggle(index)" mdTooltip="Priorité : comme le précédent / après le précédent" mdTooltipPosition="above">
              <md-icon *ngIf="container.isChained(index)">low_priority</md-icon>
              <md-icon *ngIf="! container.isChained(index)">link</md-icon> 
            </button>
          </td>
          <td *ngIf="container.size > 1">
            <cell-content [content]="container.countOrderValue(index)"></cell-content>
          </td>
          <td><cell-content [content]="user.name"></cell-content></td>
          <td><cell-content [content]="user.firstname"></cell-content></td>
          <td class="alignRight">
            <button md-raised-button class="smallButton" color="warn" type="button"
              (click)="container.delete(index)" mdTooltip="Supprimer" mdTooltipPosition="above">
              <md-icon>clear</md-icon>
            </button>
          </td>
        </ng-template>
      </datatable>

      <!-- datatable d'ajout de contrôleurs/valideurs -->
      <datatable *ngIf="! newVersionMode && container.isAddMode()"
        [options]="{
          selectionCol: true,
          displayFooter: true,
          emptyMessage: 'Il ny a pas de ' + container.name + ' à ajouter.'
        }"
        [data]="container.availableUsers"
        [columns]="['Nom', 'Prénom']"
        (selectedDataUpdate)="updateUsersToAdd(container, $event)">
        <datatable-title>
          <h3>{{container.title}}</h3>
        </datatable-title>
        <ng-template let-user="item">
          <td><cell-content [content]="user.name"></cell-content></td>
          <td><cell-content [content]="user.firstname"></cell-content></td>
        </ng-template>
        <datatable-footer>
          <button md-raised-button color="primary" type="button"
              [disabled]="! container.hasUsersToAdd" (click)="addContainerUsers(container)">
            Ajouter
          </button>
          <button md-raised-button color="warn" type="button"
              (click)="switchContainerMode(container)">
            Annuler
          </button>
        </datatable-footer>
      </datatable>
    </div>

    <!-- boutons submit et cancel -->
    <button md-raised-button gui-form-action class="submitButton2" color="primary" type="submit"
        (click)="submit()" [disabled]="!isValidForm">
      Ajouter le fichier
    </button>
    <button md-raised-button gui-form-action class="cancelButton" color="warn" type="button"
        (click)="close()">
      Annuler
    </button>

  </gui-form>
</section>