.margin {
  margin-bottom: 0.5em;
}

.userContainerDataTable {
  margin: 0.5em auto;
}

td.updownCol {
  width: 50px;
}

td.thinCol {
  width: 75px;
}

td.alignRight {
  text-align: right;
  vertical-align: middle;
}
