<!--
  Auteur : Florian
  License : 

  Datatable de gestion des droits par projet : prend un projet en entrée (voir modèle) :
  [entity]="project"
-->

<datatable
    [options]="{
      selectionCol: true,
      resetSelectionOnPageChange: true,
      emptyMessage: 'Il n\'y a pas encore d\'utilisateur ni de droits à gérer',
      emptySearchMessage: 'Aucun utilisateur ne correspond à votre recherche.',
      displayFooter: true
    }"
    [data]="dataObs"
    [columns]="[
      { label: 'Utilisateur',       query: 'login',   search: true, sort: true, width: '21%' },
      { label: 'Actif',             query: 'active',                sort: true, width:  '6%' },
      { label: 'Voir',                                                          width:  '9%' },
      { label: 'Editer',                                                        width:  '9%' },
      { label: 'Supprimer',                                                     width:  '9%' },
      { label: 'Ajout fichier',                                                 width:  '9%' },
      { label: 'Supprimer fichier',                                             width:  '9%' },
      { label: 'Contrôleur',                                                    width:  '9%' },
      { label: 'Valideur',                                                      width:  '9%' },
      { label: 'Tous',                                                          width:  '6%' }
    ]"
    (selectedDataUpdate)="grid.updateSelection($event)"
    (queryParams)="update($event, [entity])">
  <!-- total width: 96% : 4% de width pour la colonne de selection -->
  
  <datatable-title>
    <h2>Droits pour {{entity.name}}</h2>
  </datatable-title>

  <!-- Template pour l'affichage des lignes de contenu : -->
  <ng-template datatable-line let-right="item" let-checked="checked">
    <!-- infos de l'utilisateur : -->
    <td><cell-content [content]="right.user.login"></cell-content></td>
    <td><cell-content [content]="right.user.active | boolToString"></cell-content></td>
    
    <!-- une case à cocher par droit possible sur le projet -->
    <td><md-checkbox color="primary" [checked]="grid.isBitBoxChecked(right, 1)" (change)="grid.setBit($event.checked, right, 1, checked)"></md-checkbox></td>
    <td><md-checkbox color="primary" [checked]="grid.isBitBoxChecked(right, 2)" (change)="grid.setBit($event.checked, right, 2, checked)"></md-checkbox></td>
    <td><md-checkbox color="primary" [checked]="grid.isBitBoxChecked(right, 4)" (change)="grid.setBit($event.checked, right, 4, checked)"></md-checkbox></td>
    <td><md-checkbox color="primary" [checked]="grid.isBitBoxChecked(right, 8)" (change)="grid.setBit($event.checked, right, 8, checked)"></md-checkbox></td>
    <td><md-checkbox color="primary" [checked]="grid.isBitBoxChecked(right, 16)" (change)="grid.setBit($event.checked, right, 16, checked)"></md-checkbox></td>
    <td><md-checkbox color="primary" [checked]="grid.isBitBoxChecked(right, 32)" (change)="grid.setBit($event.checked, right, 32, checked)"></md-checkbox></td>
    <td><md-checkbox color="primary" [checked]="grid.isBitBoxChecked(right, 64)" (change)="grid.setBit($event.checked, right, 64, checked)"></md-checkbox></td>
    
    <!-- Une case qui permet de cocher/décocher tous les droits sur le projet -->
    <td><md-checkbox color="accent" [checked]="grid.isBitBoxChecked(right, 64 + 63)" (change)="grid.setBit($event.checked, right, 64 + 63, checked)"></md-checkbox></td>
  </ng-template>
  
  <!--
    Dernière rangée :
    Cases à cocher permettant de sélectionner des droits sur le projet pour chaque utilisateur sélectionné.
  -->
  <datatable-final-row>
    <td colSpan="3" class="selectInfo">Sélectionner colonne :</td>
    
    <!-- Une case pour chaque droit possible -->
    <td><md-checkbox color="accent" [checked]="grid.isBitColChecked(1)" (change)="grid.setSelectedColBit($event.checked, 1)"></md-checkbox></td>
    <td><md-checkbox color="accent" [checked]="grid.isBitColChecked(2)" (change)="grid.setSelectedColBit($event.checked, 2)"></md-checkbox></td>
    <td><md-checkbox color="accent" [checked]="grid.isBitColChecked(4)" (change)="grid.setSelectedColBit($event.checked, 4)"></md-checkbox></td>
    <td><md-checkbox color="accent" [checked]="grid.isBitColChecked(8)" (change)="grid.setSelectedColBit($event.checked, 8)"></md-checkbox></td>
    <td><md-checkbox color="accent" [checked]="grid.isBitColChecked(16)" (change)="grid.setSelectedColBit($event.checked, 16)"></md-checkbox></td>
    <td><md-checkbox color="accent" [checked]="grid.isBitColChecked(32)" (change)="grid.setSelectedColBit($event.checked, 32)"></md-checkbox></td>
    <td><md-checkbox color="accent" [checked]="grid.isBitColChecked(64)" (change)="grid.setSelectedColBit($event.checked, 64)"></md-checkbox></td>
    
    <!-- un case pour sélectionner tous les droits -->
    <td><md-checkbox color="warn" [checked]="grid.isBitColChecked(64 + 63)" (change)="grid.setSelectedColBit($event.checked, 64 + 63)"></md-checkbox></td>
  </datatable-final-row>
  
  <!-- Footer pour enregistrer les modifications s'il y en a ou annuler -->
  <datatable-footer>
    <!-- Enregistrer -->
    <button md-raised-button color="primary" type="button"
        (click)="submit()" [disabled]="! grid.modified">
      Enregistrer les modifications
    </button>
    
    <!-- Annuler -->
    <button md-raised-button color="warn" type="button"
        (click)="cancel()">
      Annuler
    </button>
  </datatable-footer>
</datatable>
