<md-card *ngIf="! project">
  <md-card-content>
    <p>Selectionnez un projet dans la liste...<p>
  </md-card-content>
</md-card>

<md-card *ngIf="project">
  <md-card-content>
    <h2>Projet : {{project.name}}</h2>

    <table class="dataTable">
      <thead>
        <tr>
          <th>Nom du fichier</th>
          <th>Auteur</th>
          <th>Version</th>
          <th>Date d'upload</th>
          <th>statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <button md-mini-fab class="add" (click)="add()" mdTooltip="Ajouter un fichier" mdTooltipPosition="after"><md-icon>add</md-icon></button>
          </td>
        </tr>
        <tr *ngFor="let file of files">
          <td>{{file.version?.filename | truncate:30}}</td>
          <td>{{file.author?.firstname}} {{file.author?.name}}</td>
          <td>{{file.version?.num}}</td>
          <td>{{file.version?.date_upload?.day}}/{{file.version?.date_upload?.month}}/{{file.version?.date_upload?.year}}</td>
          <td>{{file.version?.status}}</td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>


<!--<md-icon md-list-icon>folder</md-icon>-->