<md-card *ngIf="! project">
  <md-card-content>
    <p>Selectionnez un projet dans la liste...<p>
  </md-card-content>
</md-card>

<md-card *ngIf="project">
  <md-card-content>
    <h2>Projet : {{project.name}}</h2>

    <table class="dataTable">
      <thead>
        <tr>
          <td>
            <button md-mini-fab class="add" (click)="add()" mdTooltip="Ajouter un fichier" mdTooltipPosition="after"><md-icon>add</md-icon></button>
          </td>
        </tr>
        <tr>
          <th>Nom du fichier</th>
          <th>Auteur</th>
          <th>Version</th>
          <th>Date d'upload</th>
          <th>Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td>{{file.version?.filename | truncate:30}}</td>
          <td>{{file.author?.firstname}} {{file.author?.name}}</td>
          <td>{{file.version?.num}}</td>
          <td>{{file.version?.date_upload?.day}}/{{file.version?.date_upload?.month}}/{{file.version?.date_upload?.year}}</td>
          <td>{{file.version?.status}}</td>
          <td *ngIf="file.version && file.version.status == 0"><a md-raised-button color="primary" mdTooltip="Télécharger" mdTooltipPosition="above" target="_self" [href]="downloadLink(file.id)" download><md-icon>file_download</md-icon></a>
          <td *ngIf="file.author && file.author.id == userId"><a md-raised-button color="accent" mdTooltip="Nouvelle version" mdTooltipPosition="above" target="_self" [routerLink]="['/add_file', project.id, file.id]" download><md-icon>file_upload</md-icon></a>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>


<!--<md-icon md-list-icon>folder</md-icon>-->