<md-toolbar color="primary">
  <md-icon *ngIf="displayListButton" class="list showOnLarge" (click)="toggleOnLarge()">menu</md-icon>
  <md-icon *ngIf="displayListButton" class="list showOnSmall" (click)="toggleOnSmall()">menu</md-icon>
  <a [routerLink]="['/']" mdTooltip="Accueil" mdTooltipPosition="below">
    <md-icon>home</md-icon>
    <label>Accueil</label>
  </a>

  
  <span class="flex"></span>
  <a *ngIf="logged" class="right userLogin" [routerLink]="['/']" mdTooltip="Compte" mdTooltipPosition="below">
    <md-icon>account_box</md-icon>
    <label>{{userLogin}}</label>
  </a>
  <a *ngIf="logged && isAdmin" class="right" [routerLink]="['/admin']" mdTooltip="Administration" mdTooltipPosition="below">
    <md-icon>build</md-icon>
    <label>Administration</label>
  </a>
  <a *ngIf="logged" class="right" [routerLink]="['/']" (click)="disconnect()" mdTooltip="Déconnexion" mdTooltipPosition="below">
    <md-icon>power_settings_new</md-icon>
    <label>Déconnexion</label>
  </a>
</md-toolbar>
