<!--
  Auteur : Florian
  License :
  
  Section qui gère les informations relatives aux fichiers de l'utilisateur courant
-->

<!-- Bouton retour -->
<button *ngIf="canNavBack && state != State.Filelist"
    md-raised-button class="navBackButton" type="button" color="primary"
    mdTooltip="Retour" mdTooltipPosition="above" (click)="navback()">
  <md-icon>arrow_back</md-icon>&nbsp;Retour
</button>

<!-- Liste des fichiers de l'utilisateur -->
<app-user-filelist *ngIf="state == State.Filelist"
    (versionDetails)="setStateAndEntity(State.VersionDetails, $event)">
</app-user-filelist>

<!-- Details de version d'un fichier -->
<app-version-details *ngIf="state == State.VersionDetails"
    [file]="entity" (close)="state = State.Filelist">
</app-version-details>
