<section style="width: 50%; margin: auto;">
  <md-card>
    <md-card-title class="centerText">Connexion</md-card-title>

    <md-card-content>
      <form novalidate [formGroup]="form" (ngSubmit)="submit()">
        <md-input-container class="blockContainer">
          <input mdInput type="text" placeholder="Identifiant" formControlName="login" required>
          <md-error>Veuillez indiquer votre identifiant</md-error>
        </md-input-container>

        <md-input-container class="blockContainer">
          <input mdInput type="password" placeholder="Mot de passe" formControlName="pwd" required/>
          <md-error>Veuillez indiquer votre mot de passe</md-error>
        </md-input-container>

        <input type="submit" [disabled]="!form.valid" style="display: none"/>

        <p class="errors" *ngIf="loginFail && form.pristine">
          Identifiants invalides !
        </p>
      </form>
    </md-card-content>

    <md-card-actions>
      <button md-raised-button class="submitButton" color="primary" type="submit" (click)="submit()" [disabled]="!form.valid">Connexion</button>
    </md-card-actions>
  </md-card>
</section>
