<!--
  Auteur : Florian
  License : 

  Datatable de la liste des fichiers d'un projet
-->

<!-- Aucun projet sélectionné -->
<md-card *ngIf="! project">
  <md-card-content>
    <p>Selectionnez un projet dans la liste...<p>
  </md-card-content>
</md-card>

<datatable *ngIf="project"
    [options]="{
      addButton: userCanAddFile(),
      addButtonTooltip: 'Ajouter un fichier',
      addButtonIconName: 'note_add',
      emptyMessage: 'Ce projet ne contient pas encore de fichier.',
      emptySearchMessage: 'Aucun fichier ne correspond à votre recherche.'
    }"
    [data]="dataObs"
    [columns]="[
      { label: 'Fichier',        query: 'version.filename',    sort: true, search: true, width: '30%' },
      { label: 'Auteur',         query: 'author',              sort: true, search: true, width: '20%' },
      { label: 'Version',        query: 'version.num',         sort: true, search: true, width:  '8%' },
      { label: 'Date d\'upload', query: 'version.date_upload', sort: true,               width: '12%' },
      { label: 'Statut',         query: 'version.status',      sort: true, search: true, width: '10%' },
      { label: '',                                                                       width: '15%' },
      { label: '',                                                                       width:  '5%' }
    ]"
    (addButtonClick)="addFile(undefined)"
    (queryParams)="update($event, [project])">
  <datatable-title>
    <!-- Titre -->
    <h2>Projet : {{project.name}} <span [class.hidden]="project.active" class="inactive">(Supprimé)</span></h2>   
    
    <!-- Actions : disponibles en fonction des droits de l'utilisateur -->
    <div class="projectActions">
      <!-- Editer projet -->
      <button [class.hidden]="! userCanEditProject()" md-raised-button class="smallButton" type="button" color="accent"
          mdTooltip="Editer" mdTooltipPosition="above" (click)="editProject()">
        <md-icon>mode_edit</md-icon>
      </button>
      
      <!-- Supprimer projet -->
      <button [class.hidden]="! userCanDeleteProject()" md-raised-button class="smallButton" type="button" color="warn"
          mdTooltip="Supprimer" mdTooltipPosition="above" (click)="activateProject(false)">
        <md-icon>delete_forever</md-icon>
      </button>

      <!-- Restaurer projet -->
      <button [class.hidden]="! userCanActivateProject()" md-raised-button class="smallButton" type="button" color="warn"
          mdTooltip="Restaurer" mdTooltipPosition="above" (click)="activateProject(true)">
        <md-icon>replay</md-icon>
      </button>
    </div>
  </datatable-title>
  <!-- Template pour l'affichage des fichiers : -->
  <ng-template datatable-line let-file="item">
    <!-- Infos du fichier -->
    <td>
      <cell-content [content]="file.version?.filename" [link]="true" (click)="versionDetails(file)"></cell-content>
    </td>
    <td><cell-content [content]="file.author?.firstname + ' ' + file.author?.name"></cell-content></td>
    <td><cell-content [content]="file.version?.num"></cell-content></td>
    <td><cell-content [content]="file.version?.date_upload | date:'inconnue'"></cell-content></td>
    <td>
      <cell-content [content]="file.version?.status | versionStatus"
          [mdTooltip]="getTooltipText(file)" mdTooltipPosition="above" [mdTooltipClass]="'multiline'">
      </cell-content>
    </td>
    
    <!-- Actions sur le fichier (en fonction des droits sur le projet) -->
    <td>
      <!-- Télécharger -->
      <ng-container *ngIf="file.version && canDownload(file)">
        <app-download-version-button [version]="file.version"></app-download-version-button>
      </ng-container>

      <!-- Nouvelle version -->
      <ng-container *ngIf="file.author && file.author.id == userId && userCanAddFile()">
        <a md-raised-button class="smallButton" color="accent" mdTooltip="Nouvelle version" mdTooltipPosition="above"
            href="javascript:void(0)" (click)="addFile(file)">
          <md-icon>file_upload</md-icon>
        </a>
      </ng-container>
      
      <!-- Contrôler -->
      <ng-container *ngIf="hasControl(file.version.id)">
        <a md-raised-button class="smallButton" color="accent" mdTooltip="Contrôler" mdTooltipPosition="above"
            href="javascript:void(0)" (click)="checkVersion(getControl(file.version.id))">
          <md-icon>find_in_page</md-icon>
        </a>
      </ng-container>

      <!-- Valider -->
      <ng-container *ngIf="hasValidation(file.version.id)">
        <a md-raised-button class="smallButton" color="warn" mdTooltip="Valider" mdTooltipPosition="above"
            href="javascript:void(0)" (click)="checkVersion(getValidation(file.version.id))">
          <md-icon>find_in_page</md-icon>
        </a>
      </ng-container>
    </td>
    <td>
      <!-- Supprimer -->
      <ng-container *ngIf="userCanDeleteFile()">
        <button md-raised-button class="smallButton" type="button" color="warn"
            mdTooltip="Supprimer" mdTooltipPosition="above" (click)="deleteFile(file)">
          <md-icon>delete</md-icon>
        </button>
      </ng-container>
    </td>
  </ng-template>
</datatable>
