<app-header
    [displayListButton]="showProjectList()"
    (toggleOnSmall)="toggleSidenavOnSmall()"
    (toggleOnLarge)="toggleSidenavOnLarge()">
</app-header>
<sidenav-layout [openSidenavOnSmall]="sidenavShowOnSmall" [openSidenavOnLarge]="sidenavShowOnLarge">
  <sl-sidenav *ngIf="showProjectList()">
    <app-projectlist [selectedProject]="selectedProject" (loaded)="loaded()" sidenav></app-projectlist>
  </sl-sidenav>
  <sl-content>
    <router-outlet></router-outlet>
  </sl-content>
</sidenav-layout>