<md-card>
  <md-card-content>
    <ng-content select="datatable-title"></ng-content>
    <table class="dataTable" cellspacing="0">
      <thead>
        <ng-content select="datatable-header"></ng-content>
        <tr class="columnTitles">
          <th *ngFor="let column of columns">{{column}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data; let odd = odd" [class.oddRow]="odd" style="width: 100%">
          <ng-template [ngTemplateOutlet]="contentTpl" [ngOutletContext]="{item: item}"></ng-template>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>
