<!--<md-card>
  <md-card-content>-->
    <table class="dataTable">
      <thead>
        <tr class="columnTitles">
          <th><app-sort-button>Fichier</app-sort-button></th>
          <th>Auteur</th>
          <th>Version</th>
          <th>Date d'upload</th>
          <th>Statut</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data; let i = index" [class.oddRow]="i % 2">
          <ng-template ngFor let-item [ngForOf]="[item]" [ngForTemplate]="contentTpl"></ng-template>
        </tr>
      </tbody>
    </table>
  <!--</md-card-content>
</md-card>-->
