table.dataTable {
  table-layout: auto;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

table.dataTable tbody tr.footer td {
  text-align: right;
}

table.dataTable thead tr {
  height: 4em;
}

table.dataTable th, td {
  text-align: left;
}

table.dataTable tbody tr {
  height: 3em;
}

table.dataTable tbody tr.oddRow {
  background-color: #C1BFFF;
  width: 100%;
}

table.dataTable tbody tr td md-spinner.spinner {
  margin: 0 auto;
}

table.dataTable tbody tr td p.emptyMessage {
  text-align: center;
}

table.dataTable tbody tr td p.errorMessage {
  text-align: center;
  color: #ff0000;
}

table.dataTable thead tr.columnTitles {
  background-color: #d1d1d1;
}

table.dataTable tr.add {
  height: 4em;
}

table.dataTable tr.add td {
  padding-left: 0.5em;
}

table.dataTable tr th.selectionCol,td.selectionCol {
  width: 50px;
  text-align: center;
}

table.dataTable tbody tr.footer {
  height: 3.5em;
  background-color: #d1d1d1;
}

table.dataTable h2 {
  margin: 0 auto;
}