<datatable
    [options]="{
      emptyMessage: 'Aucun contenu à afficher',
      emptySearchMessage: 'Aucun résultat ne correspond à votre recherche.'
    }"
    [data]="dataObs"
    [columns]="[
      { label: 'Fichier',        query: 'version.filename',    sort: true, search: true, width: '20%' },
      { label: 'Projet',         query: 'project.name',        sort: true, search: true, width: '15%' },
      { label: 'Version',        query: 'version.num',         sort: true, search: true, width:  '7%' },
      { label: 'Date d\'upload', query: 'version.date_upload', sort: true,               width: '10%' },
      { label: statusColTitle,   query: 'status',              sort: true, search: true, width: '13%' },
      { label: 'Date Init',      query: 'date_init',           sort: true,               width:  '9%' },
      { label: 'Date Vérif',     query: 'date_checked',        sort: true,               width:  '9%' },
      { label: '',                                                                       width: '12%' }
    ]"
    (queryParams)="update($event, [userId])">

  <!-- Titre -->
  <datatable-title>
    <h2>{{title}}</h2>   
  </datatable-title>

  <!-- Template pour l'affichage des checks : -->
  <ng-template datatable-line let-check="item">
    <!-- Infos du check -->
    <td>
      <cell-content [content]="check.version?.filename" [link]="true" (click)="versionDetails(check.version)">
      </cell-content>
    </td>
    <td><cell-content [content]="check.project?.name"></cell-content></td>
    <td><cell-content [content]="check.version?.num"></cell-content></td>
    <td><cell-content [content]="check.version?.date_upload | date:''"></cell-content></td>
    <td><cell-content [content]="check.status | checkStatus"></cell-content></td>
    <td><cell-content [content]="check.date_init | date:''"></cell-content></td>
    <td><cell-content [content]="check.date_checked | date:''"></cell-content></td>
    <td>
      <ng-container *ngIf="check.status == CheckStatus.TO_CHECK">
        <app-download-version-button [version]="check.version"></app-download-version-button>

        <button md-raised-button class="smallButton" [color]="check.type == CheckType.CONTROL ? 'accent' : 'warn'"
            mdTooltip="Effectuer" mdTooltipPosition="above"
            type="button" (click)="checkVersion(check)">
          <md-icon>find_in_page</md-icon>
        </button>
      </ng-container>
    </td>
  </ng-template>
</datatable>