<datatable
    [options]="{
      emptyMessage: 'Vide.',
      emptySearchMessage: 'Aucun contrôle ne correspond à votre recherche.'
    }"
    [data]="dataObs"
    [columns]="[
      { label: 'Fichier',        query: 'version.filename',    sort: true, search: true, width: '20%' },
      { label: 'Projet',         query: 'project.name',        sort: true, search: true, width: '20%' },
      { label: 'Version',        query: 'version.num',         sort: true, search: true, width: '10%' },
      { label: 'Date d\'upload', query: 'version.date_upload', sort: true,               width: '10%' },
      { label: 'Statut',         query: 'version.status',      sort: true, search: true, width: '10%' },
      { label: 'Statut',         query: 'status',              sort: true, search: true, width: '10%' },
      { label: 'Date Init',                                                              width: '10%' },
      { label: 'Date Check',                                                             width: '10%' }
    ]"
    (queryParams)="update($event, [userId])">

  <!-- Titre -->
  <datatable-title>
    <h2>Liste de vos checks</h2>   
  </datatable-title>

  <!-- Template pour l'affichage des checks : -->
  <ng-template let-check="item">
    <!-- Infos du check -->
    <td>
      <!--<a
          href="javascript:void(0)"
          mdTooltip="{{file.version?.filename}}" mdTooltipPosition="above" mdTooltipHideDelay="0"
          (click)="versionDetails(file)">-->
        {{check.version?.filename | truncate:30}}
      <!--</a>-->
    </td>
    <td>{{check.project?.name}}</td>
    <td>{{check.version?.num}}</td>
    <td>{{check.version?.date_upload | date:'inconnue'}}</td>
    <td>{{check.version?.status | versionStatus}}</td>
    <td>{{check.status}}</td>
    <td>{{check.date_init | date:'inconnue'}}</td>
    <td>{{check.date_checked | date:'inconnue'}}</td>
  </ng-template>
</datatable>