.updown {
  display: inline-block;
}

button {
  display: block;
  min-width: 2em;
  width: 2.2em;
  height: 1.2em;
  margin: 0.3em 0;
  padding: 0;
}

.icon {
  display: block;
  width: 1em;
  height: 1em;
  margin: 0 auto;
  font-size: 1.4em;
}