<p *ngIf="!logged" class="welcomeMessage">
  Bienvenue sur Intranet UF
</p>

<app-login *ngIf="!logged"></app-login>

<div *ngIf="logged" style="display: flex;">
  <app-projectlist (select)="selectProject($event)"></app-projectlist>
  <app-filelist [project]="selectedProject"></app-filelist>
</div>

<section class="menu" style="margin-top: 200px;">
  <label>Dev Menu</label>
  <a [routerLink]="['/admin/create_user']">Créer compte</a>
  <a [routerLink]="['/activate']">Activer compte</a>
  <a [routerLink]="['/projectlist']">Home connecté</a>
</section>
