<p *ngIf="!logged" class="welcomeMessage">
  Bienvenue sur Intranet UF
</p>

<app-login *ngIf="!logged"></app-login>
<app-projectlist *ngIf="logged"></app-projectlist>

<section class="menu" style="margin-top: 200px;">
  <label>Dev Menu</label>
  <a [routerLink]="['/admin/create_user']">Créer compte</a>
  <a [routerLink]="['/activate']">Activer compte</a>
  <a [routerLink]="['/projectlist']">Home connecté</a>
</section>

<!--
<section class="menu">
  <label>Menu</label>
  <a [routerLink]="['/login']">Login</a>
  <a [routerLink]="['/user']">Créer compte</a>
  <a [routerLink]="['/projectlist']">Liste des projets</a>
</section>

<section>
  <app-navbutton [path]="'/projectlist'" [value]="'Liste des projets'"></app-navbutton>
  <app-navbutton [path]="'/user'" [value]="'Créer Compte'"></app-navbutton>
  <app-navbutton [path]="'/login'" [value]="'Login'"></app-navbutton> 
</section>

<input type="button" (click)="coucou()" value="Afficher le texte">
<section *ngIf="text !== ''">
  {{text}}
</section>
-->
