<!--
  Auteur : Florian
  License : 
  
  Template du contenu du panneau compte utilisateur :
  Affiche la bonne section en fonction de l'item sélectionné dans le menu de navigation
-->

<!-- Informations -->
<section *ngIf="selectedItemId === getItemId('Informations')">
  <md-tab-group [selectedIndex]="getTabIndex('info')" (selectedIndexChange)="setTabIndex('info', $event)">
    <md-tab label="Informations">   <!-- Onglet Informations -->
      <!-- formulaire d'édition d'un utilisateur -->
      <app-user-form *ngIf="getTabIndex('info') === 0" [userToEdit]="currentUser">
      </app-user-form>
    </md-tab>
  </md-tab-group>
</section>

<!-- Fichiers -->
<section *ngIf="selectedItemId === getItemId('Fichiers')">
  <md-tab-group [selectedIndex]="getTabIndex('files')" (selectedIndexChange)="setTabIndex('files', $event)">
    <md-tab label="Fichiers">      <!-- Onglet Fichiers -->
      <app-user-file-section *ngIf="getTabIndex('files') === 0" [canNavBack]="true"></app-user-file-section>
    </md-tab>
  </md-tab-group>
</section>

<!-- Contrôles -->
<section *ngIf="selectedItemId === getItemId('Contrôles')">
  <md-tab-group [selectedIndex]="getTabIndex('controls')" (selectedIndexChange)="setTabIndex('controls', $event)">
    <md-tab label="A effectuer">  <!-- Onglet Contrôles -->
      <app-user-checks-section *ngIf="getTabIndex('controls') === 0" [canNavBack]="true"
          [whereParams]="[['type', '0'], ['status', '1']]" title="Contrôles à effectuer">
      </app-user-checks-section>
    </md-tab>
    <md-tab label="Effectués">    <!-- Onglet Contrôles -->
      <app-user-checks-section *ngIf="getTabIndex('controls') === 1" [canNavBack]="true"
          [whereParams]="[['type', '0'], ['status_greater_than', '1']]" title="Contrôles Effectués">
      </app-user-checks-section>
    </md-tab>
    <md-tab label="Futurs">       <!-- Onglet Contrôles -->
      <app-user-checks-section *ngIf="getTabIndex('controls') === 2" [canNavBack]="true"
          [whereParams]="[['type', '0'], ['status', '0']]" title="Contrôles futurs">
      </app-user-checks-section>
    </md-tab>
  </md-tab-group>
</section>

<!-- Validations -->
<section *ngIf="selectedItemId === getItemId('Validations')">
  <md-tab-group [selectedIndex]="getTabIndex('validations')" (selectedIndexChange)="setTabIndex('validations', $event)">
    <md-tab label="A effectuer">  <!-- Onglet Validations -->
      <app-user-checks-section *ngIf="getTabIndex('validations') === 0" [canNavBack]="true"
          [whereParams]="[['type', '1'], ['status', '1']]" title="Validations à effectuer">
      </app-user-checks-section>
    </md-tab>
    <md-tab label="Effectuées">   <!-- Onglet Validations -->
      <app-user-checks-section *ngIf="getTabIndex('validations') === 1" [canNavBack]="true"
          [whereParams]="[['type', '1'], ['status_greater_than', '1']]" title="Validations Effectuées">
      </app-user-checks-section>
    </md-tab>
    <md-tab label="Futures">      <!-- Onglet Validations -->
      <app-user-checks-section *ngIf="getTabIndex('validations') === 2" [canNavBack]="true"
          [whereParams]="[['type', '1'], ['status', '0']]" title="Validations Futures">
      </app-user-checks-section>
    </md-tab>
  </md-tab-group>
</section>
