<datatable
    [options]="{
      selectionCol: true,
      addButton: true,
      addButtonTooltip: 'Ajouter un Projet',
      addButtonIconName: 'create_new_folder',
      emptyMessage: 'Il n\'y a pas encore de projet',
      emptySearchMessage: 'Aucun projet ne correspond à votre recherche.'
    }"
    [data]="dataObs"
    [columns]="[
      { label: 'Nom',   query: 'name',   sort: true, search: true, width: '36%' },
      { label: 'Actif', query: 'active', sort: true,               width: '8%' },
      { label: '',                                                 width: '52%' }
    ]"
    (addButtonClick)="add()"
    (selectedDataUpdate)="selectedProjects = $event"
    (queryParams)="update($event)">
  <datatable-title>
    <h2>Liste des projets</h2>
  </datatable-title>
  <ng-template let-project="item">
    <td><a href="javascript:void(0)" (click)="filelist(project)">{{project.name | truncate:30}}</a></td>
    <td>{{project.active | boolToString}}</td>
    <td>
      <button md-raised-button class="smallButton" color="primary" type="button"
          mdTooltip="Gestion des Droits" mdTooltipPosition="above" (click)="rights(project)">
        <md-icon>lock_open</md-icon>
      </button>
      <button md-raised-button class="smallButton" color="accent" type="button"
          mdTooltip="Editer" mdTooltipPosition="above" (click)="edit(project)">
        <md-icon>edit</md-icon>
      </button>
      <button *ngIf="project.active" md-raised-button class="smallButton" color="warn" type="button"
          mdTooltip="Supprimer" mdTooltipPosition="above" (click)="activate(project, false)">
        <md-icon>delete</md-icon>
      </button>
      <button *ngIf="! project.active" md-raised-button class="smallButton" color="warn" type="button"
          mdTooltip="Restaurer" mdTooltipPosition="above" (click)="activate(project, true)">
        <md-icon>replay</md-icon>
      </button>
    </td>
  </ng-template>
  <datatable-footer>
    <button md-raised-button class="smallButton" color="warn" type="button"
        mdTooltip="Restaurer la Sélection" mdTooltipPosition="above" (click)="activateSelection(true)"
        [disabled]="emptySelection">
      <md-icon>replay</md-icon>
    </button>
    <button md-raised-button class="smallButton" color="warn" type="button"
        mdTooltip="Supprimer la Sélection" mdTooltipPosition="above" (click)="activateSelection(false)"
        [disabled]="emptySelection">
      <md-icon>delete_forever</md-icon>
    </button>
  </datatable-footer>
</datatable>