<section class="container">
  <md-card>
    <md-card-title *ngIf="! newVersionMode" class="centerText">Ajouter un fichier</md-card-title>
    <md-card-title *ngIf="newVersionMode" class="centerText">Ajouter une nouvelle version</md-card-title>

    <md-card-content>
      <form novalidate [formGroup]="form" (ngSubmit)="submit()">
        <input-file (fileSelect)="fileSelect($event)" [accept]="'*/*'">
          <span class="buttonText">Choisir un fichier</span>
        </input-file>
        <div class="margin"></div>
        <md-input-container class="blockContainer">
          <input mdInput type="text" placeholder="Nom du fichier choisi" formControlName="filename" required/>
          <md-error>Veuillez choisir un fichier à ajouter</md-error>
        </md-input-container>

        <input type="submit" [disabled]="!isValidForm" style="display: none" />
      </form>

      <div *ngFor="let container of userContainers" class="userContainerDataTable"> 
        <datatable
            [options]="{addButton: true, addButtonTooltip: 'Ajouter'}"
            [data]="container.users"
            [columns]="['Nom', 'Prénom', '']"
            (addButtonClick)="addTo(container)">
          <datatable-title>
            <h3>{{container.title}}</h3>
          </datatable-title>
          <ng-template let-user="item">
            <td>{{user.name}}</td>
            <td>{{user.firstname}}</td>
          </ng-template>
        </datatable>
      </div>

    </md-card-content>

    <md-card-actions align="end">
      <button md-raised-button class="submitButton2" color="primary" type="submit" (click)="submit()" [disabled]="!isValidForm">Ajouter le fichier</button>
      <button md-raised-button class="cancelButton" color="warn" type="button" (click)=cancel()>Annuler</button>
    </md-card-actions>
  </md-card>
</section>